body{
    background-color: black;
    color:white;
    text-decoration: none;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
/* Navbar css-code begin*/
.navbar{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.logo{
    height:100px;
    margin-left: -10px;
    margin-top: -10px;
}
.search{
    border: 2px solid white;
    color:white;
    border-radius: 5px;
    height: 30px;
    width:300px;
    background-color: black;
    position: absolute;
    right:500px;
    top:20px;
}
.search:hover{
    border:2px solid #880360;
}
.navbar{
    margin:5px 10px;
    display:flex;
    justify-content: space-between;
    position: relative;
}
#navbar-btn{
    color:#ea0a51;
}
.menu-sec{
    position: absolute;
    left:150px;
    top:25px;
}
.nav-btn{
    background-color: black;
    color: white;
    border: none;
    padding:10px;
    font-size: 16px;
    cursor:pointer;
}

.login{
    font-weight: bold;
    color:white;
    background-color:#e311a4;
    height: 40px;
    width:120px;
    border:2px solid black;
    border-radius: 10px;
    cursor:pointer;
    
}
.login:hover{
    background-color: #880360;
}
.login-btn{
    position: absolute;
    margin: 5px;
    padding: 5px;
    right:60px;
    top:20px;
}
.nav-btn:hover{
    color:#ea0a51;

}
/* navbar css code end*/

.category{
    margin: 10px;
    color:#880360;
}
.category-title{
    text-align: center;
}
.movie-poster-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px; 
}
.big-poster{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 840px;
    width: 920px;
    margin: 10px;
    padding: 10px;
}
.movie-poster{
    border: 2px solid #880360;
    border-radius: 10px;
    height: 550px;
    width: 900px;
    margin: 10px;
}
.movie-description-container{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.title{
    width: 300px;
    margin: 5px;
}
.icons-container{
    display: flex;
    justify-content:space-around;
    color: #000;
    margin:10px;
    margin-top: 15px;
    width: 300px;
}
#icons{
    margin: 10px;
    padding: 5px;
    font-size: 30px; 
    color: white; 
    cursor: pointer; 
}
.movie-description{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.movie-poster-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
}
.small-poster{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    height: 800px;
    width: 450px;
    
}
.small-movie-poster{
    height: 220px;
    width: 450px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #880360;
    border-radius: 10px;
    cursor: pointer;
}
.small-movie-poster:hover{
    height: 240px;
    width: 470px;
    margin: 10px;
    transition: 0.4s;
}
.view-more-button-container{
    width: 450px;
    cursor: pointer; 
    position: relative;
    bottom: 5px;
}
.view-more-button{
    background-color:#ea0a51;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid white;
    border-radius: 20px;
    height: 35px;
    width: 250px;
    margin: 10px;
    padding: 5px;
    margin-left: 100px;
}
.view-more-button:hover{
    color: #000;
    border: 3px solid #ea0a51;
    background-color: #fff;
    transition: 0.5s;
}
/*footer css starts*/
.footer{
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to right,#e60a52,#780061);
    position: relative;
    height: 300px;
    padding: 10px;
}
.all-links-container{
    display: flex;
    flex-direction: row;
}
.links-container{
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 100px;
    padding: 5px;
    margin-left: 20px;
    margin-top: 15px;
    text-decoration: none;
}
.links2-container{
    color: white;
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 150px;
    padding: 5px;
    margin-left: 20px;
    margin-top: 15px;
}
.links{
    padding: 2px;
    margin: 2px;
    color: #000;
}
.links:hover{
    color: #eee;
}
.footer-logo-container{
    margin-left: 20px;
    margin-right: 170px;
    margin-top: auto;
    margin-bottom: auto;
}
.footer-logo{
    height: 100px;
    padding: 10px;
    border-radius: 20px;
}
.enter-email{
    font-weight: bold;
}
.email-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 50px;
    margin-left: 70px;
}
.email{
    height: 20px;
    width: 250px;
    margin: 10px;
    margin-left: 0;
    padding:5px;
    border: 2px solid white;
    color:white;
    border-radius: 5px;
    background-color: black;
}
.email:hover{
    border:2px solid #880360;
}
.submit-email-btn{
    height: 25px;
    width: 150px;
    border-radius: 5px;
    border: 2px solid white;
    background-color:#ea0a51;
    color: white;
}
.submit-email-btn:hover{
    color: #000;
    border: 3px solid #ea0a51;
    background-color: #fff;
    transition: 0.5s;
}
.media-img-container{
    display: block;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
}
.social-media-img{
    height: 20px;
    padding: 5px;
    margin: 5px;
}
.rights-section{
    margin-top: 70px;
    height: 50px;
}
.inpage-nav-btn-container{
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: 2px solid grey;
    border-radius: 30px;
    opacity: 0.6;
}
.inpage-nav-btn-container:hover{
    opacity: 1;
    transition: 0.5s;
}
.inpage-nav-btn{
    height: 30px;
    padding: 10px;
    opacity: 0.7;
}
.inpage-nav-btn:hover{
    opacity: 1;
    transition: 0.5s;
}
/*footer css ends*/

@media screen and (min-width: 500px) and (max-width:768px){
    .body{
        text-decoration: none;
    }
    .navbar{
        height: 180px;
        display: block;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .menu-sec{
        top: 75px;
        left: 5px;
    }
    .logo{
        height: 100px;
    }
    .login-btn{
        right: 20px;
        top: 120px;
    }
    .search{
        right: 30px;
    }
    .movie-poster-container{
        justify-content: space-around;
    }
    .big-poster{
        margin: auto;
    }
    .movie-big-poster-container{
        margin: 10px auto;
        padding: 5px;
    }
    .movie-poster{
        margin: 10px auto;
        height: 270px;
        width: 650px;  
    }
    .movie-description-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .movie-details-container{
        margin: 10px auto;
        height: 200px;
        width: 500px;
    }
    .movie-description{
        margin: 10px auto;
    }
    .footer{
        height: 900px;
    }
    .footer-logo-container{
        margin-left: auto;
        margin-right: auto;
    }
    .footer-logo{
        margin-left: auto;
        margin-right: auto;
    }
    .all-links-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .media-img-container{
        margin-left: auto;
    }
}
@media screen and (min-width:768px) and (max-width:992px){
    body{
        margin: 0 auto;
        margin-right: -90px;
        text-decoration: none;
    }
    .navbar{
        display: block;
        flex-direction: column;
        justify-content: space-between;
        height: 130px;
    }
    .menu-sec{
        top: 80px;
        left: 5px;
    }
    .login-btn{
        top: 10px;
        right: 100px;  
    }
    .big-poster{
        display: flex;
        justify-content: space-evenly;
    }
    .movie-poster-container{
        margin-left: auto;
        margin-right: auto;
        margin: 20px;
    }
    .movie-poster{
        height: 390px;
        width: 740px;
        margin-left: auto; 
        margin-right: auto;
    }
    .big-poster{
        width: 890px;
        margin-left: auto;
        margin-right: auto;
    }
    .title-container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }
    .movie-description-container{
        margin: 10px;
        height: 300px;
        width: 800px;
    }
    .movie-description{
        text-align: center;
    }
    .footer{
        height: 400px;  
        display: flex;
        justify-content: space-around;
    }
    .footer-logo-container{
        margin-right: 20px;
    }
    .email-container{
        margin-left: 50px;
    }
    .media-img-container{
        position: relative;
        right: 20px;
        bottom: 5px;
    }
}
@media screen and (min-width:992px) and (max-width:1350px){
   .menu-sec{
    top: 60px;
   }
   .footer{
    height: 500px;
   }
   .media-img-container{
    position: absolute;
    right: 90px;
    bottom: 20px;
   }
}