body{
    background-color: black;
    text-decoration: none;
    color:white;
    margin:0;
    padding:0;
}
/* Navbar css-code begin*/
.logo{
    height:100px;
    margin-left: -10px;
    margin-top: -10px;
}
.search{
    border: 2px solid white;
    color:white;
    border-radius: 5px;
    height: 30px;
    width:300px;
    background-color: black;
    position: absolute;
    right:600px;
    top:20px;

}
.search:hover{
    border:2px solid #880360;
}
.navbar{
    margin:5px 10px;
    display:flex;
    justify-content: space-between;
    position: relative;
}
#navbar-btn{
    color:#ea0a51;
}
.menu-sec{
    position: absolute;
    left:150px;
    top:25px;
}
.nav-btn{
    background-color: black;
    color: white;
    border: none;
    padding:10px;
    font-size: 16px;
    cursor:pointer;

}

.login{
    font-weight: bold;
    color:white;
    background-color:#e311a4;
    height: 40px;
    width:120px;
    border:2px solid black;
    border-radius: 10px;
    cursor:pointer;
    
}
.login:hover{
    background-color: #880360;
}
.login-btn{
    position: absolute;
    right:60px;
    top:20px;
}
.nav-btn:hover{
    color:#ea0a51;

}
/* navbar css code end*/
.category{
    margin: 10px;
    color:#880360;
}
.category-title{
    text-align: center;
}
.movie-poster-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px; 
}
.movie-poster{
    border: 2px solid #880360;
    border-radius: 10px;
    height: 550px;
    width: 900px;
    margin: 10px;
}
.movie-description-container{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}
.title{
    width: 300px;
    margin: 5px;
}
.icons-container{
    display: flex;
    justify-content:space-around;
    color: #000;
    margin:10px;
    margin-top: 15px;
    width: 300px;
}
#icon1{
    margin: 10px;
    padding: 5px;
    font-size: 30px; 
    color: white; 
    cursor: pointer; 
}
#icon2{
    margin: 10px;
    padding: 5px;
    font-size: 30px; 
    color: white; 
    cursor: pointer; 
}
#icon3{
    margin: 10px;
    padding: 5px;
    font-size: 30px; 
    color: white; 
    cursor: pointer; 
}
.movie-description{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.movie-poster-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
}
.small-poster{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
    height: 800px;
    width: 450px;
    
}
.small-movie-poster{
    height: 220px;
    width: 450px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #880360;
    border-radius: 10px;
    cursor: pointer;
}
.small-movie-poster:hover{
    height: 230px;
    width: 460px;
    margin: 15px;
    transition: 0.4s;
}
.view-more-button-container{
    width: 450px;
    cursor: pointer; 
    position: relative;
    bottom: 5px;
}
.view-more-button{
    background-color:#ea0a51;
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid white;
    border-radius: 20px;
    height: 35px;
    width: 250px;
    margin: 10px;
    padding: 5px;
    margin-left: 100px;
}
.view-more-button:hover{
    color: #000;
    border: 3px solid #ea0a51;
    background-color: #fff;
    transition: 0.5s;
}