body{
    background-color: black;
    text-decoration: none;
    color:white;
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
.heading{
    text-align: center;
}
.logo{
    height:100px;
    margin-left: -10px;
    margin-top: -10px;
}
.search{
    border: 2px solid white;
    color:white;
    border-radius: 5px;
    height: 30px;
    width:300px;
    background-color: black;
    position: absolute;
    right:500px;
    top:20px;

}
.search:hover{
    border:2px solid #880360;
}
.navbar{
    margin:5px 10px;
    display:flex;
    justify-content: space-between;
    position: relative;
}
.menu-sec{
    position: absolute;
    left:150px;
    top:25px;
}
.nav-btn{
    background-color: black;
    color: white;
    border: none;
    padding:10px;
    font-size: 16px;
    cursor:pointer;

}

.login{
    font-weight: bold;
    color:white;
    background-color:#e311a4;
    height: 40px;
    width:120px;
    border:2px solid black;
    border-radius: 10px;
    cursor:pointer;
    
}
.login:hover{
    background-color: #880360;
}
.login-btn{
    position: absolute;
    right:60px;
    top:20px;
}
.nav-btn:hover{
    color:#ea0a51;

}
.poster-container{
    border:2px solid  #85035e;
    height:580px;
    width:95%;
    display:flex;
    margin:5px auto;
    position:relative;

}

.sports-poster{
    height:570px;
    width:1540px;
    display:block;
    margin:5px auto;
    box-shadow: 4px 8px 20px 0px gray ;
    border-radius: 20px;
}

.sports-poster:hover{
    transform: scale(1.01);
    transition: 0.2s ease;
    box-shadow: 4px 8px 20px 0px gray ;}
.switch-img{
    color:white;
    font-size: 20px;
    font-weight: bold;
    border:2px solid black;
    border-radius:10px;
    height:50px;
    width:200px;
    display:bolck;
    margin-left:700px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding:10px;
    background-image: linear-gradient(to right,#e70952  0%, #b61a87  58%, #85035e  100%);
    position: relative;
    cursor:pointer;
    

}
.switch-img:hover{
    box-shadow: 0 0 10px #eee;
}
.arrow{
    position: absolute;
    top:12px;
    left:160px
}
.display-block{
    border:2px solid  #85035e;
    height:400px;
    width:1100px;
    display:block;
    margin:5px auto;
    padding:20px;

}
.posters-container{
    border:2px solid  #85035e;
    height:320px;
    width:95%;
    display:block;
    margin:25px auto;
    padding:25px 5px;
    display:flex;
    justify-content:space-between;
    

}

.cards{
    border:2px solid black;
    border-radius:20px;
    height:310px;
    width:320px;
    box-shadow: 3px 4px 10px 0px gray ;
}
.cards:hover{
    transform: scale(1.02);
    transition: 0.3s ease;
    box-shadow: 4px 8px 20px 0px gray ;
}
    

.card-img{
    height:310px;
    width:320px;
    border-radius:20px;
    cursor: pointer;


}
.screen{
    width:1360;
    display: flex;
    justify-content: space-evenly;
}
.banner {
    margin-top: 15px;
    height: 600px;
    display: none;
}
.prt1 img {
    height: 560px;
    width: 50%;
    align-items: left;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(248, 246, 246, 0.964);
}
.prt1 {
    display: flex;
}
.prt2 {
    margin-top: -5px;
    padding: 20px;
    margin-left: 20px;
    border-radius: 5px;
    border: 3px solid #880360;
    width: 1400px;
    height: 520px;
}
.prt2 img {
    height: 400px;
    width: 300px;
    box-shadow: 0 0 0 0;
    display: flex;
    position: absolute;
    left: 76%;
    top: 105%;
}
fieldset{
    margin-top: 20px;
    padding: 15px;
    margin-left: 20px;
    border-radius: 5px;
    width: 360px;
    height:400px;
}
.h1{
    font-size:40px;  
}
.details{
    font-size:30px;
    text-decoration:underline;
}
.dis{
    font-size:20px;
}
.cartoon{
    margin-top: 95px;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to right,#e60a52,#780061);
    height: 300px;
    padding: 10px;
}
.links-container{
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 100px;
    padding: 5px;
    margin-left: 15px;
    margin-top: 15px;
}
.links2-container{
    color: white;
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 150px;
    padding: 5px;
    margin-left: 20px;
    margin-top: 15px;
}
.links{
    padding: 2px;
    margin: 2px;
    color:#000
}
.links:hover{
    color: #eee;
}
.footer-logo-container{
    margin-left: 20px;
    margin-right: 170px;
    margin-top: auto;
    margin-bottom: auto;
}
.footer-logo{
    height: 100px;
    padding: 10px;
    border-radius: 20px;
}
.enter-email{
    font-weight: bold;
}
.email-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 50px;
    margin-left: 55px;
}
.email{
    height: 20px;
    width: 250px;
    margin: 10px;
    margin-left: 0;
    padding:5px;
    border: 2px solid white;
    color:white;
    border-radius: 5px;
    background-color: black;
}
.email:hover{
    border:2px solid #880360;
}
.submit-email-btn{
    height: 25px;
    width: 150px;
    border-radius: 5px;
    border: 2px solid white;
    background-color:#ea0a51;
    color: white;
}
.submit-email-btn:hover{
    color: #000;
    border: 3px solid #ea0a51;
    background-color: #fff;
    transition: 0.5s;
}
.contact{
   color:#ffffff; 
}
.media-img-container{
    display: block;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
}
.social-media-img{
    height: 25px;
    padding: 5px;
    margin: 5px;
}
.rights-section{
    margin-top: 70px;
    height: 50px;
}

.para{
    position: relative;
    right: -45px;
}

@media only screen and (min-width:300px) and (max-width:430px){
    .logo{
        height:50px;
        margin-left: -10px;
        margin-top: 1px;
    }
    .search{
        border: 1px solid white;
        color:white;
        border-radius: 5px;
        height: 15px;
        width:160px;
        background-color: black;
        position: absolute;
        right:125px;
        top:13px;
    
    }
    .navbar{
        margin:5px 10px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        flex-wrap: wrap;
    }
    .menu-sec{
        position: absolute;
        left:20px;
        top:50px;
    }
    .nav-btn{
        background-color: black;
        color: white;
        border: none;
        padding:5px;
        font-size: 13px;
        cursor:pointer;
    
    }
    
    .login{
        font-weight: bold;
        height: 20px;
        width:55px;
        font-size: 10px;
        cursor:pointer;    
    }
    .login-btn{
        position: absolute;
        right:4px;
        top:12px;
    }
    .heading{
        text-align: center;
        font-size: 15px;
        margin-top: 50px;

}
   .poster-container{
    border:1px solid  #85035e;
    height:200px;
    width:390px;

}

   .sports-poster{
    height:190px;
    width:390px;
    box-shadow: 2px 4px 12px 0px gray ;
}
   .switch-img{
    font-size: 12px;
    border-radius:7px;
    height:25px;
    width:80px;
    margin-left:160px;
    margin-top: 2px;
    margin-bottom: 5px;
    padding:3px;
    position: relative;
   }
   .arrow{
    position: absolute;
    top:12px;
    left:1300px}

   .display-block{
        border:2px solid  #85035e;
        height:400px;
        width:1100px;
        display:block;
        margin:5px auto;
        padding:20px;
    
    }
    .posters-container{
        border:2px solid  #85035e;
        height:auto;
        width:370px;
        margin:5px auto;
        padding:20px;
        display:flex;
        justify-content:space-between;
        flex-wrap: wrap;
        
    
    }
    
    .cards{
        border:2px solid black;
        border-radius:20px;
        height:150px;
        width:160px;
        box-shadow: 3px 4px 10px 0px gray ;
        margin: 10px;
    }
        
    
    .card-img{
        height:150px;
        width:160px;
        border-radius:20px;
    
    
    }
    .screen{
        width:390;
        display: flex;
        justify-content: space-evenly;
    }
    .banner {
        margin-top: 30px;
        height: 300px;
        display: none;
        margin-right: 10px;
    }
    .prt1 img {
        height: 240px;
        width: 50%;
        align-items: left;
        margin-left: 7px;
    }
    .prt1 {
        display: flex;
    }
    .prt2 {
        margin-top: 0px;
        padding: 20px;
        margin-left: 20px;
        border-radius: 5px;
        border: 3px solid #880360;
        width: 390px;
        height: 200px;
    }
    .prt2 img {
        height: 240px;
        width: 110px;
        display: flex;
        position: absolute;
        left: 40%;
        top: 105%;
    }
    fieldset{
        margin-top: 2px;
        padding: 20px;
        margin-left: 3px;
        margin-right: 2px;
        border-radius: 5px;
        width:100px;
        height:160px;
    }
    .h1{
        font-size:11px;  
    }
    
    .details{
        margin-top: -10px;
        font-size:9px;
        text-decoration:underline;
    }
    .dis{
        font-size:8px;
    }
    .cartoon{
       margin-left: 1000px;
       height: 10px;
    }
    .footer{
        background-image: linear-gradient(to bottom,#e60a52,#780061);
        height: 1000px;
        padding: 10px;
    }
    .links-container{
        color: #fff;
        display: flex;
        flex-direction: column;
        height: 190px;
        width: 100px;
        padding: 5px;
        margin-left: 8px;
        margin-top: 15px;
    }
    .links2-container{
        color: white;
        display: flex;
        flex-direction: column;
        height: 190px;
        width: 100px;
        padding: 10px;
        margin-left: 8px;
        margin-top: 15px;
    }
    .links{
        padding: 2px;
        margin: 2px;
        color: #000;
       
    }
    .links:hover{
        color:#eee;
    }
    .footer-logo-container{
        margin-left:110px;
        
        margin-top: auto;
        margin-bottom: auto;
    }
    .email-container{
        justify-content: start;
        padding-top: 20px;
        margin-left: 30px;
    }
    .email{
        margin-left: 0;
        padding:5px;
        border: 2px solid white;
    }
    .email:hover{
        border:2px solid #880360;
    }
    .submit-email-btn{
        height: 25px;
        width: 150px;
        border-radius: 5px;
        border: 2px solid white;
        background-color:#ea0a51;
        color: white;
    }
    .submit-email-btn:hover{
        color: #000;
        border: 3px solid #ea0a51;
        background-color: #fff;
        transition: 0.5s;
    }
    .media-img-container{
        display: block;
        justify-content: flex-end;
        margin-top:-20px;
        margin-left:-30px;
        margin-bottom: auto;
    }
    .social-media-img{
        height: 25px;
        padding: 5px;
        margin: 5px;
    }
    .rights-section{
        margin-top: 70px;
        height: 50px;
        margin-left: 10px;
    }
   
    .para{
        position: relative;
        left:55px;
    }
}

@media screen and (min-width:440px) and (max-width:690px){
    .logo{
        height:70px;
    }
    .search{
        border: 1px solid white;
        height: 28px;
        width:260px;
        position: absolute;
        right:270px;
        top:13px;
        right:260px;
        top:11px;
    
    }
    .navbar{
        margin:5px 10px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        flex-wrap: wrap;
    }
    .menu-sec{
        position: absolute;
        left:50px;
        top:50px;
    }
    .nav-btn{
        border: none;
        padding:20px;
        font-size: 15px;

    
    }
    
    .login{
        height: 30px;
        width:80px;
        font-size: 13px;
    }
    .login-btn{
        position: absolute;
        right:4px;
        top:12px;
    }
    .heading{
        text-align: center;
        font-size: 19px;
        margin-top: 60px;

}
.poster-container{
    height:350px;
    width:650px;
    display:flex;
    margin:5px auto;
    position:relative;
}

.sports-poster{
    height:345px;
    width:630px;
    margin:2px auto;
    box-shadow: 2px 4px 10px 0px gray ;
    border-radius: 10px;
}
.switch-img{
    font-size: 15px;
    height:40px;
    width:160px;
    margin-left:240px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding:11px;
    position: relative;
    

}
.switch-img:hover{
    box-shadow: 0 0 7px #eee;
}
.arrow{
    position: absolute;
    top:13px;
    left:120px;
    height: 15px;
}
.display-block{
    border:2px solid  #85035e;
    height:400px;
    width:1100px;
    display:block;
    margin:5px auto;
    padding:20px;

}
.posters-container{
    border:2px solid  #85035e;
    height:590px;
    width:630px;
    display:block;
    margin:4px auto;
    padding:20px;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    

}

.cards{
    height:280px;
    width:290px;
    box-shadow: 3px 4px 10px 0px gray ;
}
.cards:hover{
    box-shadow: 2px 4px 10px 0px gray ;
}
    

.card-img{
    height:280px;
    width:290px;
    border-radius:20px;


}
.screen{
    width:650;
    display: flex;
    justify-content: space-evenly;
}
.banner {
    margin-top: 18px;
    height: 400px;
    width: 600;
    display: none;
}
.prt1 img {
    height: 350px;
    width: 50%;
    align-items: left;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(248, 246, 246, 0.964);
}
.prt2 {
    margin-top: -1px;
    padding: 20px;
    margin-left: 20px;
    border-radius: 5px;
    border: 3px solid #880360;
    width: 250px;
    height: 310px;
}
.prt2 img {
    height: 350px;
    width: 300px;
    box-shadow: 0 0 0 0;
    display: flex;
    position: absolute;
    left: 66%;
    top: 105%;
}
fieldset{
    margin-top: 10px;
    padding: 13px;
    margin-left: -1px;
    border-radius: 5px;
    width: 130px;
    height:250px;
}
.h1{
    font-size:15px;  
}
.details{
    font-size:12px;
    text-decoration:underline;
}
.dis{
    font-size:10px;
}
.cartoon{
    margin-top: -140px;
    height: 60px;

}
.footer{
    background-image: linear-gradient(to bottom,#e60a52,#780061);
    height: 1000px;
    padding: 10px;
}
.links-container{
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 130px;
    padding: 5px;
    margin-left: 100px;
    margin-top: -60px;
}
.links2-container{
    color: white;
    display: flex;
    flex-direction: column;
    height: 190px;
    width: 150px;
    padding: 10px;
    margin-left: 8px;
    margin-top: -60px;
}
.links{
    padding: 2px;
    margin: 2px;
    color: #000;
   
}
.links:hover{
    color:#eee;
}
.footer-logo-container{
    margin-left:245px;
    
    margin-top:20px;
    margin-bottom: auto;
}
.email-container{
    justify-content: start;
    padding-top: 20px;
    margin-left: 160px;
}
.email{
    margin-left: 0;
    padding:5px;
    border: 2px solid white;
}
.email:hover{
    border:2px solid #880360;
}
.submit-email-btn{
    height: 25px;
    width: 150px;
    border-radius: 5px;
    border: 2px solid white;
    background-color:#ea0a51;
    color: white;
}
.submit-email-btn:hover{
    color: #000;
    border: 3px solid #ea0a51;
    background-color: #fff;
    transition: 0.5s;
}
.contact{
    margin-left: 60px;
}
.media-img-container{
    display: block;
    justify-content: flex-end;
    margin-top:-20px;
    margin-left:60px;
    margin-bottom: auto;
}
.social-media-img{
    height: 25px;
    padding: 5px;
    margin: 5px;
}
.rights-section{
    margin-top: 70px;
    height: 50px;
    margin-left: 60px;
}

.para{
    position: relative;
    left:55px;
}
}