body{
    background-color: black;
    text-decoration: none;
    color:white;
    margin:0;
    padding:0;
}
.heading{
    text-align: center;
}
.logo{
    height:100px;
    margin-left: -10px;
    margin-top: -10px;
}
.search{
    border: 2px solid white;
    color:white;
    border-radius: 5px;
    height: 30px;
    width:300px;
    background-color: black;
    position: absolute;
    right:600px;
    top:20px;

}
.search:hover{
    border:2px solid #880360;
}

.navbar{
    margin:5px 10px;
    display:flex;
    justify-content: space-between;
    position: relative;
}
.menu-sec{
    position: absolute;
    left:150px;
    top:25px;
}
.nav-btn{
    background-color: black;
    color: white;
    border: none;
    padding:10px;
    font-size: 16px;
    cursor:pointer;

}

.login{
    font-weight: bold;
    color:white;
    background-color:#e311a4;
    height: 40px;
    width:120px;
    border:2px solid black;
    border-radius: 10px;
    cursor:pointer;
    
}
.login:hover{
    background-color: #880360;
}
.login-btn{
    position: absolute;
    right:60px;
    top:20px;
}
.nav-btn:hover{
    color:#ea0a51;

}
.poster-container{
    border:2px solid  #85035e;
    height:550px;
    width:1400px;
    display:flex;
    margin:5px ;
    position:relative;

}

.sports-poster{
    height:540px;
    width:1400px;
    display:block;
    margin:5px ;
    box-shadow: 4px 8px 20px 0px gray ;
    border-radius: 20px;
}

.sports-poster:hover{
    transform: scale(1.01);
    transition: 0.2s ease;
    box-shadow: 4px 4px 4px 4px gray ;}
.switch-img{
    color:white;
    font-size: 20px;
    font-weight: bold;
    border:2px solid black;
    border-radius:10px;
    height:50px;
    width:200px;
    display:bolck;
    margin-left:650px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding:10px;
    background-image: linear-gradient(to right,#e70952  0%, #b61a87  58%, #85035e  100%);
    position: relative;
    cursor:pointer;
    

}
.switch-img:hover{
    box-shadow: 0 0 10px #eee;
}
.arrow{
    position: absolute;
    top:12px;
    left:160px
}
.display-block{
    border:2px solid  #85035e;
    height:400px;
    width:1100px;
    display:block;
    margin:5px auto;
    padding:20px;

}
.posters-container{
    border:2px solid  #85035e;
    height:320px;
    width:1360px;
    display:block;
    margin:5px auto;
    padding:20px;
    display:flex;
    justify-content:space-between;
    

}

.cards{
    border:2px solid black;
    border-radius:20px;
    height:310px;
    width:320px;
    box-shadow: 3px 4px 10px 0px gray ;
}
.cards:hover{
    transform: scale(1.02);
    transition: 0.3s ease;
    box-shadow: 4px 8px 20px 0px gray ;
}
    

.card-img{
    height:310px;
    width:320px;
    border-radius:20px;


}
.screen{
    width:1360;
    display: flex;
    justify-content: space-evenly;
}
.banner {
    height: 600px;
    display: none;
}
.prt1 img {
    height: 560px;
    width: 50%;
    align-items: left;
    margin-left: 10px;
    box-shadow: 0 0 10px rgba(248, 246, 246, 0.964);
}
.prt1 {
    display: flex;
}
.prt2 {
    margin-top: 20px;
    padding: 20px;
    margin-left: 20px;
    border-radius: 5px;
    border: 3px solid #880360;
    width: 1435px;
    height: 500px;
}
.prt2 img {
    height: 400px;
    width: 300px;
    box-shadow: 0 0 0 0;
    display: flex;
    position: absolute;
    left: 76%;
    top: 105%;
}
fieldset{
    margin-top: 20px;
    padding: 15px;
    margin-left: 20px;
    border-radius: 5px;
    width: 360px;
    height:400px;
}
